body {
  background-image: url(tourbg.jpg);
  width: 100%;
}
@font-face {
  font-family: superweird;
  src: url(./fontz/Super\ Weird.ttf);
}
@font-face {
  font-family: cube;
  src: url(./fontz/modular.ttf);
}
@font-face {
  font-family: fluid;
  src: url(./fontz/FLUID\ PERSONAL\ USE.ttf);
}
